<div class="transfer-list">
  <div class="container">
    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title ">Transactions FROM and TO Adam</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"><i class="bi bi-x"></i></span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="search-panel">
                      <div class="d-flex flex-row form-group">
                          <label class="col-form-label" for="search">Search Text:</label>
                          <input type="text" class="form-control" id="searcg"
                              aria-describedby="search" />
                      </div>
                      <div>
                          <button type="button" class="btn btn-block btn-secondary">New Transfer</button>
                      </div>
                  </div>
                  <div class="table-responsive-sm">
                      <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Transfer Date</th>
                              <th scope="col">Transfer From</th>
                              <th scope="col">Transfer To</th>
                              <th scope="col">Amount Transfered</th>
                              <th scope="col">Description / Text</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>01-Feb-2019</td>
                              <td>ADAM</td>
                              <td>TORBEN</td>
                              <td class="amount">$1,200,000</td>
                              <td>Transfered directly to Adam</td>
                            </tr>
                            <tr class="redirect">
                              <td>01-Apr-2019</td>
                              <td>TORBEN</td>
                              <td>ADAM</td>
                              <td class="amount">$1,200,001</td>
                              <td>Torben keep as part of profit</td>
                            </tr>
                            <tr>
                              <td>01-Feb-2019</td>
                              <td>ADAM</td>
                              <td>TORBEN</td>
                              <td class="amount">$1,200,000</td>
                              <td>Transfered directly to Adam</td>
                            </tr>
                            <tr>
                              <td>01-Feb-2019</td>
                              <td>ADAM</td>
                              <td>TORBEN</td>
                              <td class="amount">$1,200,000</td>
                              <td>Transfered directly to Adam</td>
                            </tr>
                            <tr class="redirect">
                              <td>01-Apr-2019</td>
                              <td>TORBEN</td>
                              <td>ADAM</td>
                              <td class="amount">$1,200,001</td>
                              <td>Adam transfer august profit to Torben</td>
                            </tr>
                            <tr>
                              <td>01-Feb-2019</td>
                              <td>ADAM</td>
                              <td>TORBEN</td>
                              <td class="amount">$1,200,000</td>
                              <td>Transfered directly to Adam</td>
                            </tr>
                            <tr class="redirect">
                              <td>01-Apr-2019</td>
                              <td>TORBEN</td>
                              <td>ADAM</td>
                              <td class="amount">$1,200,001</td>
                              <td>Torben keep as part of profit</td>
                            </tr>
                            <tr>
                              <td>01-Feb-2019</td>
                              <td>ADAM</td>
                              <td>TORBEN</td>
                              <td class="amount">$1,200,000</td>
                              <td>Transfered directly to Adam</td>
                            </tr>
                            <tr>
                              <td>01-Feb-2019</td>
                              <td>ADAM</td>
                              <td>TORBEN</td>
                              <td class="amount">$1,200,000</td>
                              <td>Transfered directly to Adam</td>
                            </tr>
                            <tr class="redirect">
                              <td>01-Apr-2019</td>
                              <td>TORBEN</td>
                              <td>ADAM</td>
                              <td class="amount">$1,200,001</td>
                              <td>Adam transfer august profit to Torben</td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>